.contato {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-areas: 
        "title title title"
        "contato social link";
    grid-template-rows: auto 1fr;
    justify-content: space-between;
    align-items: center;
}

.contato-container {
    grid-area: contato;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contato-title {
    font-size: 1.5rem;
}

.contato-item {
    display: flex;
    gap: 16px;
}

.social-container {
    grid-area: social;
    display: flex;
    gap: 32px;
    font-size: 1.5rem;
}

.social-item {
    width: 64px;
    height: 64px;
    background-color: var(--icon-color);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .7s;
}

.social-item:hover {
    color: var(--primary-color);
    box-shadow: 0px 0px 4px var(--primary-color);
}

.link-container {
    grid-area: link;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: right;
}

.link-title {
    font-size: 1.5rem;
}

/* TABLET */
@media (max-width: 960px) {
    .contato {
        grid-template-areas: 
            "title title title"
            "contato . link"
            "social social social";
        grid-template-rows: auto 400px 1fr;
        padding: 0px 48px;
    }
    .social-container {
        justify-content: center;
        place-self: start center;
        font-size: 2rem;
        gap: 60px;
    }
    .social-item {
        width: 76px;
        height: 76px;
    }
    .social-item:hover {
        color: #ffffff;
        box-shadow: none;
    }
}

/* MOBILE */
@media (max-width: 640px) {
    .contato {
        grid-template-areas: 
            "title title title"
            "contato contato contato"
            "social social social"
            "link link link";
        grid-template-rows: auto auto auto auto;
        padding: 0px 48px;
        height: 260vh;
    }
    .contato-item {
        justify-content: center;
        font-size: 2rem;
    }
    .contato-title {
        display: none;
    }
    .contato-container {
        place-self: start center;
        gap: 48px;
    }
    .social-container {
        place-self: start center;
        flex-direction: column;
    }
    .social-item {
        font-size: 5rem;
        width: 180px;
        height: 180px;
    }
    .social-item:hover {
        color: #ffffff;
        box-shadow: none;
    }
    .link-container {
        place-self: start center;
        text-align: center;
        gap: 48px;
    }
    .link-container li {
        font-size: 2rem;
    }
    .link-title {
        font-size: 4rem;
    }
}