.home {
   background-image: url(../img/background.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   gap: 48px;
   box-shadow: inset 0px -40px 40px #000000;
}

.home__text {
   font-size: 2.25rem;
}

.home__name {
   font-size: 4rem;
   font-weight: 700;
   color: var(--primary-color);
}

/* TABLET */
@media (max-width: 960px) {
   .home {
       flex-direction: column;
   }
   .home div {
       text-align: center;
   }
}

/* MOBILE */
@media (max-width: 640px) {
   .home div {
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 0px 48px;
       gap: 12px;
   }
}