.menu {
    display: flex;
    gap: 72px;
    font-size: 1.25rem;
}

.menu li {
    border-bottom: 4px solid transparent;
    transition: border-color 0.25s;
}

.menu li:hover {
    border-bottom: 4px solid var(--primary-color);
}

.menu__lista {
    display: none;
}

/* TABLET */
@media (max-width: 960px) {
    .menu {
        display: none;
    }
    .menu__lista {
        display: flex;
        font-size: 1.25rem;
    }
}