.projetos {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.card-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}

.card {
    position: relative;
    width: 320px;
    height: 200px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
}

.card::before {
    content: "Clique aqui para ver o projeto";
    position: absolute;
    display: block;
    background-color: #0008;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-weight: 700;
    transform: translateY(100%);
    transition: all 0.5s;
}

.card:hover::before {
    transform: translateY(0%);
    background-color: lightslategray;
}

/* TABLET */
@media (max-width: 960px) {
    .projetos {
        height: auto;
    }
    .card-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .card {
        width: 672px;
        height: 420px;
    }
    .card::before {
        display: none;
    }
    .card:hover::before {
        display: none;
    }
}

/* MOBILE */
@media (max-width: 640px) {
    .projetos {
        padding-top: 750px;
        height: auto;
    }
    .card-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .card {
        width: 520px;
        height: 380px;
    }
    .card::before {
        display: none;
    }
    .card:hover::before {
        display: none;
    }
}