.sobre-mim {
    display: grid;
    grid-template-areas: 
        "title title"
        "description skills";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 100%;
    gap: 64px;
}

.section__title {
    grid-area: title;
    font-size: clamp(2rem, 18vw, 14rem);
    font-weight: 700;
    text-align: center;
    background: linear-gradient(#666, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.description__title {
    font-size: 3rem;
    color: var(--primary-color);
}

.description__text {
    font-size: 1.5rem;
    line-height: 150%;
}

.skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skills__title {
    font-size: 3rem;
    color: var(--primary-color);
}

.skills__icons{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skills__icon {
    height: 150px;
    width: 150px;
    background-color: var(--icon-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.skills__icon i {
    font-size: 3rem;
}

.skills__icon span {
    font-size: 1rem;
}

/* TABLET */
@media (max-width: 960px) {
    .sobre-mim{ 
        grid-template-areas: 
        "title title"
        "description description"
        "skills skills";
    }
    .description, .skills {
        padding-left: 48px;
        padding-right: 48px;
    }
    .skills__icons {
        justify-content: space-evenly;
        gap: 90px;
    }

}

/* MOBILE */
@media (max-width: 640px) {
    .sobre-mim{ 
        grid-template-areas: 
        "title title"
        "description description"
        "skills skills";
    }
    .description, .skills {
        padding-left: 48px;
        padding-right: 48px;
    }
    .skills__icon {
        height: 200px;
        width: 200px;
    }
    .skills__icons {
        justify-content: space-evenly;
        gap: 90px;
    }
    .skills__icon i {
        font-size: 4rem;
    }
    .skills__icon span {
        font-size: 2rem;
    }
}
